.AccountSettingsPage {
    text-align: center;
}

.AccountSettingsPage-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.user-details label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-details input {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
}

.delete-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: ;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: darkred;
}
