.modern-login-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-form {
  background: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.login-form h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.login-form p {
  margin-bottom: 20px;
  color: #666;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 5px;
  color: #333;
}

.login-form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.form-options a {
  color: #007bff;
  text-decoration: none;
}

.form-options a:hover {
  text-decoration: underline;
}

.login-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.App-logo {
  height: 80px; /* Adjust height as needed */
  margin-bottom: 20px; /* Adjust margin as needed */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login-artwork {
  /* right side artwork */
}
